<!DOCTYPE html>
<html>
   <head>
      <title>Register </title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" href="./css/main.css">
      <script type="text/javascript">
         $(document).ready(function(){
         
         	$( "#form1" ).submit(function(event) {
         		event.preventDefault();
         
         		$.ajax({
         			type: 'POST',
         			url: '/',
         			data: $('#form1').serialize(),
         			dataType: "json",
         			success: function(response){
         				//alert("a");
         				//console.log(response.Success);
         				$('#form1')[0].reset();
         
         				document.getElementById("check").innerHTML=response.Success;
                					//ADD THIS CODE
                					setTimeout(function(){
                						document.getElementById("check").innerHTML="";
                					},3000);
                					if (response.Success=="You are registered,You can login now.") {
                						document.getElementById("aa").click();
                					};
                				},
                				error: function() {
                				}
                			})
         	});
         });
      </script>
   </head>
   <body class="bg-light">
      <div class=" container-fluid ">
         <div class="card card0 ">
            <div class="row d-flex">
               <div class="col-lg-6 ">
                  <div class="card1 pb-5">
                     <div class="row px-3 justify-content-center mt-4 mb-5 border-line "> <img src="https://colorlib.com/preview/theme/eden/img/magazine/8.jpg" class="image"> </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="card2 card border-0 px-4 py-5">
                     <h4 class="disabled">REGISTER</h4>
                     <div class="row px-3 mb-4">
                        <div class="line"></div>
                        <small class="or text-center">Portal </small>
                        <div class="line"></div>
                     </div>
                     <form id="form1" method="post">
                        <small id="check" class="text-danger font-weight-bold"></small>
                        <div class="row px-3">
                           <label class="mb-1">
                              <h6 class="mb-0 text-sm">Email Address</h6>
                           </label>
                           <input class="mb-4" type="email" name="email" placeholder="Enter Email address" required> 
                        </div>
                        <div class="row px-3">
                           <label class="mb-1">
                              <h6 class="mb-0 text-sm">Username </h6>
                           </label>
                           <input class="mb-4" type="text" name="username" placeholder="Enter Username " required> 
                        </div>
                        <div class="row px-3">
                           <label class="mb-1">
                              <h6 class="mb-0 text-sm">Password</h6>
                           </label>
                           <input type="password" name="password" placeholder="Enter password" min="8" max="100" required > 
                        </div>
                        <br/>
                        <div class="row px-3">
                           <label class="mb-1">
                              <h6 class="mb-0 text-sm">Retype Password</h6>
                           </label>
                           <input type="password" name="passwordConf" placeholder="Enter password again" min="8" max="100" required > 
                        </div>
                        <br>
                        <div class="row px-3">
                           <label class="mb-1">
                              <h6 class="mb-0 text-sm">Account Type</h6>
                           </label>
                           <select name="credential" class="form-control">
                              <option value="AGENT">Agent</option>
                              <option value="BUYER">Buyer</option>
                              <option value="SELLER">Seller</option>
                           </select>
                        </div>
                        <br>
                        <div class="row px-3 mb-4">
                           <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div>
                           <a href="/forgetpass" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                        </div>
                        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Register</button> </div>
                     </form>
                     <div class="row mb-4 px-3"> <small class="font-weight-bold">Already ! have an account? <a class="text-danger " href="/login">Login</a></small> </div>
                  </div>
               </div>
               <div id="LangTable"><a href="/dashboard" id="aa"></a>
               </div>
            </div>
         </div>
         <div class="gradient-primary text-center py-4">
            <div class=" text-center">
               <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2020. All rights reserved.</small>
               <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
         </div>
      </div>
      </div>
</html>